.row {
    width: 960px;
    height: 60px;
    display:flex;
    border: 2px solid black
}

.square {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid black
}

.container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

body {
    justify-content: center;
    display:flex;

}